<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- Bootstrap -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <div id="head"></div>
  <div class="">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <div class="register-container">
              <form id="register-form">
                  <div class="form-group">
                      <label for="account">アカウント</label>
                      <input type="text" name="user_account" class="form-control border_radius_15" id="account" placeholder="account">
                  </div>
                  <div class="form-group">
                      <label for="password">パスワード</label>
                      <input type="password" name="user_password" class="form-control border_radius_15" id="password" placeholder="password">
                  </div>
                  <div class="register-btn-container">
                      <button type="submit" id="register-btn" class="btn btn-default border_radius_15 margin_top_20">ログイン</button>
                  </div>
                  <!-- <div class="register-btn-container">
                      <button type="submit" id="go-register-btn" class="btn btn-default border_radius_15" style="margin-top: 15px;">サインアップへ</button>
                  </div> -->
              </form>
          </div>

      </div>
      <div class="col-md-4"></div>
  </div>

  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    $('#head').load('./header_notlogin');

    $('#register-btn').click(function (e) {
      e.preventDefault()
      const formData = $('#register-form').serialize()
      $.ajax({
        url:'/login',
        method:'post',
        data:formData
      }).then(res=>{
        console.log(res)
        if (res.success){
          location.href = '/'
        }else {
          alert(res.msg)
        }
      })
    })

    $('#go-register-btn').click(function (e) {
      e.preventDefault()
      location.href = '/Register'
    })
  </script>
</body>
</html>

